.header{
    font-family:Aleo;
    padding: 80px;
    text-align: center;
    background:#4A235A ;
    color: white;
}

.navbar{
    overflow:hidden;
    background-color:#7D3C98;
}

.navbar a{
    float:left;
    display:block;
    font-family:Aleo;
    color:white;
    text-align:center;
    padding: 14px 20px;
    text-decoration:none;
}

.navbar a:hover{
    background-color:#6C3483;
    color:black;
}

*{
    box-sizing:border-box;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.side{
    flex:30%;
    background-color:#B3B6B7;
    font-family:Roboto;
    padding: 20px;
}

.main{
    flex:70%;
    background-color:white;
    font-family:Roboto;
    padding:20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #6C3483;
  color: white;
}
.fa-instagram {
  background: #6C3483;
  color: white;
}

.fa-linkedin {
  background: #6C3483;
  color: white;
}

.footer{
    padding:20px;
    text-align:center;
    font-family:Nunito;
    background-color:#4A235A;
    }

@media screen and (max-width: 700px) {
  .row { 
    flex-direction: column;
  }
    .footer{
        flex-direction:column;
    }
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
    }
}
